<!DOCTYPE html>
<html>

<head>

{{&header}}

{{&scripts}}

<script type="text/javascript">

function submitfunc() 
{
  var fileInput = document.forms['submitform'].elements['file'];
  
  data = {};

  $.couch.db("couchclothes").saveDoc
  (
    {
      type:   $('#type').val(), 
      brand:  $('#brand').val(), 
      fit:    $('#fit').val(),
      color:  $('#color').val(),
      link:   $('#link').val(),
      notes:  $('#notes').val(),
      created_at: new Date().getTime()*-1
    },  
    {
      success: function(data) 
      { 
        alert("Saved data ok."); 
        var id = data.id;
        var rev = data.rev;
        alert("/couchclothes/" + id  + "/picture?rev=" + rev);

        $("#rev_field").val(rev);
        //alert($("#rev_field").val());
        $("#pictureform").attr("action","/couchclothes/" + id  + "/picture?rev=" + rev);
        //alert($("#pictureform").attr("action"));
        
        uploadFile(id, fileInput.files[0]);

      },
      error: function(jqXHR, textStatus, errorThrown)
      {
      	alert('error!');
      	alert(jqXHR + " " + errorThrown + " " + errorThrown);
      }
    }  
  );  
    
  //uploadFile('foo', fileInput.files[0]);
  return true;
};

function uploadFile(document, file) 
{
	
	var baseUrl = 'http://127.0.0.1:5984/couchclothes/';
	
	alert('uploading');
    var name = encodeURIComponent(file.name),
    type = file.type,
    fileReader = new FileReader(),
    getRequest = new XMLHttpRequest(),
    putRequest = new XMLHttpRequest();

    getRequest.open('GET',  baseUrl + encodeURIComponent(document),
        true);
    getRequest.send();
    getRequest.onreadystatechange = function(response) 
    {
    	
        if (getRequest.readyState == 4 && getRequest.status == 200) 
        {
        	alert('here2');
            var doc = JSON.parse(getRequest.responseText);
            console.log(getRequest.responseText);
            putRequest.open('PUT', baseUrl +
                encodeURIComponent(document) + '/' +
                name + '?rev=' + doc._rev, true);
            putRequest.setRequestHeader('Content-Type', type);
            fileReader.readAsArrayBuffer(file);
            fileReader.onload = function (readerEvent) 
            {
                putRequest.send(readerEvent.target.result);
            };
            putRequest.onreadystatechange = function(response) 
            {
                if (putRequest.readyState == 4) 
                {
                    console.log(putRequest);
                }
            };
        }
    };
};
	        
window.onload = function() 
{
    var app = function() 
    {
    
        
        

        var uploadFile = function(document, file) 
        {
        	alert('uploading');
            var name = encodeURIComponent(file.name),
            type = file.type,
            fileReader = new FileReader(),
            getRequest = new XMLHttpRequest(),
            putRequest = new XMLHttpRequest();

            getRequest.open('GET',  baseUrl + encodeURIComponent(document),
                true);
            getRequest.send();
            getRequest.onreadystatechange = function(response) 
            {
            	
                if (getRequest.readyState == 4 && getRequest.status == 200) 
                {
                	alert('here2');
                    var doc = JSON.parse(getRequest.responseText);
                    console.log(getRequest.responseText);
                    putRequest.open('PUT', baseUrl +
                        encodeURIComponent(document) + '/' +
                        name + '?rev=' + doc._rev, true);
                    putRequest.setRequestHeader('Content-Type', type);
                    fileReader.readAsArrayBuffer(file);
                    fileReader.onload = function (readerEvent) 
                    {
                        putRequest.send(readerEvent.target.result);
                    };
                    putRequest.onreadystatechange = function(response) 
                    {
                        if (putRequest.readyState == 4) 
                        {
                            console.log(putRequest);
                        }
                    };
                }
            };
        };

        var d = new Date();
        var n = d.getTime();

        //document.forms['submitform'].onsubmit = function()
        

    };
    
	
    app();
};


function init()
{
}

</script>

</head>

<body>
	{{&navbar}}

    <div class="container">

      <ul class="nav nav-pills">
        
        <form class="form-horizontal well" id="submitform" name="submitform" onsubmit="submitfunc(); return false;">
          <fieldset>
            <legend>Add a New Clothing Item</legend>
            <div class="control-group">
              <label class="control-label" for="type">Item Type</label>
              <div class="control-group">
                <div class="controls">
                  <select name="type" id="type">
                      <option></option>
                    <optgroup label="Accessories">
                      <option value="watch">Watch</option>
                    </optgroup>
                    <optgroup label="Shirts">
                      <option value="shirt_polo">Polo Shirt</option>
                      <option value="shirt_button">Button Down Shirt</option>
                      <option value="shirt_tee">Tee Shirt</option>
                      <option value="shirt_other">Shirt - Other</option>
                    </optgroup>
                    <optgroup label="Pants">
                      <option value="pants_jean">Jeans</option>
                      <option value="pants_chinos">Chinos</option>
                      <option value="pants_corduroy">Corduroy</option>
                      <option value="pants_other">Pants - Other</option>
                    </optgroup>
                    <optgroup label="Shoes">
                      <option value="shoes">Shoes</option>
                    </optgroup>
                  </select>
                </div>
              </div>

              <label class="control-label" for="brand">Brand</label>
              <div class="control-group">
                <div class="controls">
                  <input class="input" type="text" name="brand" id="brand"/>
                </div>
              </div>

              <label class="control-label" for="fit">Fit / Cut</label>
              <div class="control-group">
                <div class="controls">
                  <input class="input" type="text" name="fit" id="fit" />
                </div>
              </div>

              <label class="control-label" for="color">Color</label>
              <div class="control-group">
                <div class="controls">
                  <input class="input" type="text" name="color" id="color" />
                </div>
              </div>

              <label class="control-label" for="link">Webpage</label>
              <div class="control-group">
                <div class="controls">
                  <input class="input" type="text" name="link" id="link"/>
                </div>
              </div>

              <label class="control-label" for="link">Any other thoughts?</label>
              <div class="control-group">
                <div class="controls">
                  <textarea class="input" rows="3" name="notes" id="notes"></textarea>
                </div>
              </div>

              <label class="control-label" for="picture[]">Got a Picture?</label>
              <div class="control-group">
                <div class="controls">
                  <input type="file" name="file" id="file" accept="image/*" multiple/>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <input type="submit" class="btn"/>
                </div>
              </div>

            </div>
          </fieldset>

          

        </form>
          
      </ul>

    </div> <!-- /container -->

    

</body>

</html>
