<link href="/couchclothes/_design/couchclothes/vendor/couchapp%2fcss%2fbootstrap.css" rel="stylesheet" />
<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */  
            }
</style>
<link href="/couchclothes/_design/couchclothes/vendor%2fcouchapp%2fcss%2fbootstrap-responsive.css" rel="stylesheet" />

<title>Closet App</title>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->