<div class="span4 well">
	<div class="row-fluid">
		<div class="span4">
			{{#type}}
				<div>
					<p><strong>Type</strong></p>
					<p>
						{{&type}}
					</p>
				</div>
			{{/type}}

			{{#color}}
				<div>
					<p><strong>Color</strong></p>
					<p>
						{{&color}}
					</p>
				</div>
			{{/color}}

			{{#brand}}
				<div>
					<p><strong>Brand</strong></p>
					<p>	
						{{&brand}}
					</p>
				</div>
			{{/brand}}

			{{#link}}
				<div>
					<p><strong>Link</strong></p>
					<p>
						<a href={{&link}}>Link</a>
					</p>
				</div>
			{{/link}}

			{{#notes}}
				<div>
					<p><strong>Notes</strong></p>
					<p>
						{{&notes}}
					</p>
				</div>
			{{/notes}}

			{{#fit}}
				<div>
					<p><strong>Fit</strong></p>
					<p>
						{{&fit}}
					</p>
				</div>
			{{/fit}}

		</div>

	    <div class="span8">
	    	<center>
		    	{{#documentname}}
				{{#attachmentname}}
	    		
					<a href="http://localhost:5984/couchclothes/{{documentname}}/{{attachmentname}}">
						<img class="imgList" width='100%' src="http://localhost:5984/couchclothes/{{documentname}}/{{attachmentname}}" />
					</a>
				
				{{/attachmentname}}
		    	{{/documentname}}
				<div class="row-fluid">
					<div class="span9">
					</div>
					<div class="span3">
						<form>
							<input type="button" value="Delete" style="margin-top:2em" />
						</form>
					</div>
				</div>
			</center>	
		</div>
    </div>
</div>